{% extends 'base.html.twig' %}

{% block title %}Symfony-Blog | À propos{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>À propos de nous</h2>
    <p>
        Bienvenue sur le Symfony-Blog! Ce blog est né de notre passion pour le partage de connaissances. D'abord envisagé comme un simple hobby, il est rapidement devenu une plateforme reconnue pour la qualité et la pertinence de ses articles.
    </p>
    <p>
        Fondé en 2023, le Symfony-Blog a pour mission de partager des idées, d'inspirer ses lecteurs et de créer une communauté autour de sujets variés mais toujours captivants. De la technologie à l'art, en passant par la science ou la littérature, nous explorons tous les domaines avec curiosité.
    </p>
    
    <h3>Notre histoire</h3>
    <p>
        Tout a commencé avec un groupe d'amis passionnés par l'écriture. Nous voulions créer un espace où nous pourrions exprimer nos idées, partager nos découvertes et débattre de sujets qui nous tiennent à cœur. Aujourd'hui, nous sommes fiers d'avoir une équipe diversifiée d'auteurs et de collaborateurs.
    </p>
    
    <h3>Notre équipe</h3>
    <p>
        Notre équipe est un mélange éclectique d'experts, de passionnés, et de conteurs. Chacun apporte une perspective unique, enrichissant le contenu que nous partageons. Notre engagement est simple : fournir des articles précis, informatifs, et engageants.
    </p>
    <p>
        Nous sommes toujours à la recherche de nouveaux talents. Si écrire pour Symfony-Blog vous intéresse, nous aimerions en savoir plus sur vous!
    </p>
    
    <h3>Contactez-nous</h3>
    <p>
        Vos commentaires et suggestions sont essentiels pour nous. Si vous souhaitez nous contacter, que ce soit pour une question, une suggestion ou simplement pour partager une idée, n'hésitez pas à le faire. Notre équipe se fera un plaisir de vous répondre.
    </p>
    
</div>
{% endblock %}